{% extends "auth/profile/profile_base.html" %}

{% set active_profile = 'credentials' %}

{% block profile_content %}
<p>
    OAuth credentials for your developer account needed to access the Legit API.<br/>
    Keep them secret, keep them safe.
</p>
<div class="row">
    <div class="span6">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Consumer Key</td>
                    <td><strong>{{ user.consumer_key }}</strong></td>
                </tr>
                <tr>
                    <td>Consumer Secret</td>
                    <td><strong>{{ user.consumer_secret }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<p>
    URLs for accessing the Legit API. See the <a href="{{ uri_for('doc_apis')}}">
    API docs</a> for more details on specific methods.
</p>
<div class="row">
    <div class="span6">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Production API URL</td>
                    <td><strong>PROD URL</strong></td>
                </tr>
                <tr>
                    <td>Sandbox API URL</td>
                    <td><strong>SANDBOX URL</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock profile_content %}