{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="span6 offset3">
        <h1>Reset Your Password</h1>
        <p>We'll automatically log you in afterward</p>
        <form method="POST" action="{{ uri_for('forgot_password_set') }}">
            <label>{{ form.new_password.label }}</label>
            {{ with_errors(form.new_password) }}
            <label>{{ form.confirm_password.label }}</label>
            {{ with_errors(form.confirm_password) }}
            {{ form.token }}
            {{ form.email }}
            <br/>
            <button type="submit" class="btn">Set Password</button>
        </form>
    </div>
</div>
{% endblock content %}