{% extends "base.html" %}

{% set active_nav = "login" %}
{% block content %}
<h1>Log In</h1>
<hr/>
<div class="row">
    <div class="span6">
        {% for message in messages['local'] %}
            <p class="alert alert-error">{{ message }}</p>
        {% endfor %}
        <form method="POST" action="{{ uri_for('login') }}" class="form-horizontal">
            <fieldset>
                {{ fancy_with_errors(form.email)}}
                {{ fancy_with_errors(form.password, help_text='<a href="'+uri_for('forgot_password_email')+'">forgot your password?</a>') }}
            </fieldset>
            <div class="form-actions">
                <button type="submit" class="btn">Login</button>
            </div>
        </form>
    </div>
    <div class="span5">
        <div class="well">
            <h3>Don't have an account?</h3>
            <p>The sign up page is <a href="{{uri_for('signup')}}">over thar</a>.</p>
    </div>
</div>
        
{% endblock %}